.blogContent{
	@media #{$tabletDeskOnly}{
		float: left;
		width: 75%;
	}
}

.blogFilterWrapper {

	@media #{$tabletDeskOnly}{
		float: right;
		width:20%;
	}

	@media #{$noTabletDesk}{
		width: 100%;
	}

	ul{
		list-style: none;
		padding: 0;
	}

	li{
		font-size: 11px;
		margin: 0 0 0 10px;
	}
}

	.blogFilterRight{
		@media #{$noTabletDesk}{
			float:left;
			width:42%;
			padding:4%;
		}
	}

	.blogFilterLeft {
		@media #{$noTabletDesk}{
			float:left;
			width:42%;
			padding:4%;
		}
	}