button {
	span{
		padding: 0 1em;
	}

	&.defaultBtn,  &.modalBtn,  &.largeBtn{
		background:$mainButtonColor;
		border-radius: 3px;
		text-decoration: none;
		vertical-align: middle;
		-webkit-tap-highlight-color: rgba(0,0,0,0);
		
		span{
			background: none;
			height: auto;
			line-height: inherit;
			color:$mainButtonText;
		}

		&:hover, &:active{
			background:$mainButtonHover;
		}
	}

	&.modalBtn, &.altModalBtn{
		height: 2.5em;
		line-height: inherit;
	}

	&.altBtn, &.altModalBtn, &.altLargeBtn{
		background:$secondButtonColor;
		border-radius: 3px;
		text-decoration: none;
		vertical-align: middle;
		-webkit-tap-highlight-color: rgba(0,0,0,0);
		
		span{
			background: none;
			height: auto;
			line-height: inherit;
			color:$secondButtonText;
		}

		&:hover, &:active{
			background:$secondButtonHover;

		}
	}
}

a{
	span{
		padding: 0 1em;
		height: auto;
		line-height: inherit;
	}
	
	&.linkBtn, &.modalLinkBtn, &.largeLinkBtn{
		background: $mainButtonColor;
		border-radius: 3px;
		text-decoration: none;
		vertical-align: middle;
		-webkit-tap-highlight-color: rgba(0,0,0,0);
		
		span{
			background: none;
			height: auto;
			line-height: inherit;
			color:$mainButtonText;
		}

		&:hover, &:active{
			background:$mainButtonHover;
		}
	}

	&.linkAltBtn, &.modalLinkAltBtn, &.modalLinkAltBtn{
		background:$secondButtonColor;
		border-radius: 3px;
		text-decoration: none;
		vertical-align: middle;
		-webkit-tap-highlight-color: rgba(0,0,0,0);
		
		span{
			background: none;
			height: auto;
			line-height: inherit;
			color:$secondButtonText;
		}

		&:hover, &:active{
			background:$secondButtonHover;

		}
	}

	&.modalLinkBtn, &.modalLinkAltBtn, &.modalLinkAltBtn{
		min-width: auto;
	}
}