#v65-fieldset-wholesalerInfo, #v65-fieldset-billingInfo, 
#v65-fieldset-shippingOptions, #v65-fieldset-shippingInfo, 
#v65-fieldset-paymentMethod, #v65-fieldset-sourceCode, 
#v65-fieldset-usernamePassword{
	@media #{$noTabletDesk}{
		width: 98%;
	}
}

.v65-productGroup-teaser{
	width: 100%;
}

.v65-productGroup-product{
	&:first-child{
		margin-left: 0;
	}
}

.v65-productGroup{
	.v65-product-addToCart-unitDescription {
		font-size:1em;
		bottom:0;
	}
	.v65-clear{
		@media #{$noTabletDesk}{
			display: none;
		}

		&.productGroup-2Up-rowClear{
			display: none;

			@media screen and (min-width:581px) and (max-width: 599px){
				display: block;
			}
		}

		&.productGroup-3Up-rowClear{
			display: none;

			@media screen and (min-width: 600px) and (max-width: 750px){
				display: block;
			}
		}
	}
}

.v65-product-addToCart-quantity input {
		background:$quanityForm;
		color:$quanityFormFont;
	}

.v65-product2Up .v65-product-addToCart-priceWrapper {
	display:block;
	margin-bottom: 0.5em;
}

#v65-signUpClubSummaryWrapper, #v65-checkoutCartSummaryWrapper {
	@media #{$noTabletDesk}{
		margin: 0 0 2em;
		width: 90%;
		padding: 5%;
		position: relative;
		clear: both;
	}
}