#v65-modalContentHeader{
	background: $footerColor;
}

.content{
	background: none;
	box-shadow: none;
}

	.pageContent{
		@media #{$noTabletDesk}{
			padding: 1em;
		}
		
		@media #{$tabletDeskOnly}{
			padding: 2em;
		}
	}

/* ----- a. Homepage Styles ----- */
@import 'content_home';

/* ----- b. Page Styles ----- */
@import 'content_page';

/* ----- c. Store Styles ----- */
@import 'content_store';