.homepageContent{
	background: none;
	box-shadow: none;
	@media #{$tabletOnly}{
		margin:0 2em;
	}
	
}

.homepageText{
	margin-bottom: 2em;

	@media #{$tabletDeskOnly}{
		float: left;
		width: 30%;
		margin: 5em 1.5%;
	}

	@media #{$noTabletDesk}{
		padding: 0 4%;
	}

}

.homepageText h1 {
	padding-bottom:0.5em;
	border-bottom:$borderColor 1px solid;
	margin: 0.25em  0 0.5em;
	line-height:1.2;
}

.productGroupWrapper {
	padding:0 4%;
	margin:0 auto;
}

.homepageFeatureImage {

	@media #{$tabletDeskOnly}{
		float: left;
		width: 30%;
		margin:2em 1.5%;
		text-align: center;
	}

	@media #{$noTabletDesk}{

		float:left;
		margin:2em 0;
		width: 30%;
		text-align: center;	

	}

}

.homepageProductGroup {
	margin: 0 0 2em;

	@media #{$noTabletDesk}{
		width:70%;
		float:left;
		margin:2em 0;
	}

	@media #{$tabletDeskOnly}{
		float: left;
		width: 30%;
		margin:5em 1.5%;
	}

	.v65-productGroup-products{
		text-align: left;
		width: 100%;
	}

		.v65-productGroup-title{
			display:none;
		}

		.v65-productGroup-teaser{
			float: none;
			margin: 0;
			width: 100%;
		}

		.v65-productGroup-product{
			margin: 0 0 1em;
			width: 100%;
		}

			.v65-product-photo{
				float: left;
				width: auto;
			}

			.v65-product-title {
				color: $headingFontColor;
				font-family: $headingFontFamily;
				font-size: 1.8em;
				line-height: 1.2;
				margin: 0.25em  0 0.5em;
				padding-bottom:0.5em;
				border-bottom:$borderColor 1px solid;
			}
}

#slider{
	height: 0;
	padding-top: 35%;
	overflow: hidden;
	width: 100%;

	.nivo-main-image{
		position: absolute !important;
	}
}