footer{
	color: $footerFontColor;
	text-align: center;
	width: 100%;
	margin: 0 auto;

	ul{
		list-style: none;
		padding: 0;

		@media #{$tabletDeskOnly}{
			margin-bottom: 0.5em;
			margin: 0 1em 0.5em 1em;
		}

		@media #{$noTabletDesk}{
			margin:0;
		}
	}

	li{
		@media #{$noTabletDesk}{
			border-top: 1px solid $borderColor;
			line-height: 44px;
			text-align: center;
		}

		@media #{$tabletDeskOnly}{
			display: inline;
			padding:0 5px;
		}

		a{
			color: $footerFontColor;
			display: inline-block;
			font-size: 0.917em;
			position: relative;

			@media #{$noTabletDesk}{
				width: 100%;
			}

			&:hover{
				color: $footerFontColorHover;
			}
		}
	}

.footerContent {
	padding: 1.5em 0;
	@media #{$tabletOnly} {
		margin:0 3em;
	}
	@media #{$tabletDeskOnly} {
		border-top:4px double #b3b3b3;
	}
}
	
	.socialicons ul li a i {
		font-size:1.8em;
	}

	.contactinfo {
		@media #{$tabletDeskOnly}{
			display:none;
		}
	}

	.phone, .email, .map{
		a:hover{
			text-decoration: none;
		}
	}

	.legal{
		font-size: 0.917em;

		li{
			display: block;
		}
	}

	a{
		color:$footerFontColor;
	}
}