header.primary{
	margin-bottom: 1em;
	position: relative;
	width: 100%;
	z-index: 10;
}

.topBarContainer {
	width:100%;
	margin:0 auto;
	background:$topBarColor;
	
	@media #{$stabTabletDeskOnly} {
		height:3em;
	}

	@media #{$noStabTabletDesk} {
		height:4em;
	}
	
}

.topBar {
	margin:0 auto;
	max-width:970px;
}

	.logo{
		background:{
			image: image-url($logo);
			position: top center;
			repeat: no-repeat;
		}
		background-size: contain;
		display: block;
		height: 48px;
		position: relative;
		width: 305px;
		margin:1.5em auto;
		padding-bottom:1em;

		@media screen and (-webkit-min-device-pixel-ratio: 1.5),	(min-device-pixel-ratio: 1.5){
			background-image: image-url($logo-retina);
		}
		
		@media #{$noTabletDesk}{
			clear: both;
			margin: 1.5em auto 0;
		}

		@media #{$tabletDeskOnly}{
			margin-bottom: 0;
		}
	}