// @import 'themes/themeSettings_green';
// @import 'themes/themeSettings_orange';
@import 'themes/themeSettings_blue';

// Global Fonts
$durusans: 'Duru Sans', sans-serif;
$georgia: Georgia, serif;
$lucida: "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Geneva, Verdana, sans-serif;


// Global Variables
$maxWidth: 990px;
$fontFamily: $durusans;
$headingFontFamily: $durusans;


// Global Break Points
$deskOnly: "only screen and (min-width : 1025px)";
$noDesk: "only screen and (max-width : 1024px)";
$tabletDeskOnly: "only screen and (min-width : 768px)";
$noTabletDesk: "only screen and (max-width : 767px)";
$tabletOnly: "only screen and (min-width : 768px) and (max-width : 1024px)";
$stabTabletOnly: "only screen and (min-width : 581px) and (max-width : 1024px)";
$stabOnly: "only screen and (min-width : 581px) and (max-width : 767px)";
$stabTabletDeskOnly: "only screen and (min-width : 581px)";
$noStabTabletDesk: "only screen and (max-width : 580px)";
$mobileOnly: "only screen and (max-width : 450px)";


@mixin gradient($color1, $color2){
	background-color: $color1;
	background-image: -webkit-linear-gradient(top, $color1, $color2);
	background-image: -moz-linear-gradient(top, $color1, $color2);
	background-image: -ms-linear-gradient(top, $color1, $color2);
	background-image: -o-linear-gradient(top, $color1, $color2);
	background-image: linear-gradient(top, $color1, $color2);
}

@mixin boxSizing{
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

.hideText{
	overflow:hidden;
	text-indent:100%;
	white-space:nowrap;
	
	a{
		display:block;
		height:100%;
	}
}